<%-include('header.ejs')%>

<ul>
    <li> 와이디 퍼포먼스 대면 워크북</li>
    <li> 이메일 : yd-it@naver.com</li>
    <li> 연락처 : 010-7135-7530</li>
    <li> 주  소 : 부산시 해운대구 해운대로407, 303호 </li>



</ul>
<%-include('footer.ejs')%>
