<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<h1> 와이디정신건강의학 통합 웹페이지에 오신 것을 환영합니다</h1>

<header style="border-bottom:1px soild #aaa; margin-bottom:10px; padding-bottom:10px ;"
  
  <nav>
    <a href="/">홈</a> ｜
    <a href="/profile">프로필</a> ｜
    <a href="/clinic">와이디정신건강의학의원</a> ｜
    <a href="/ydperformance">YD Performance</a> ｜
    <a href="/ICBT">비대면인지교정</a> ｜
    <a href="/CBT">대면인지교정</a> ｜
    <a href="/EmotionalNote">감정노트</a> ｜
    <a href="/map">찾아오시는길</a> ｜
    <a href="/contact">예약하기</a> 
  </nav>
</header>