<%-include('header.ejs')%>

<form action="/ICBTProc" method= "post"></form>


<ul>
    <li> 와이디 퍼포먼스 비대면 워크북</li>

    
    <h1> 생각의 습관에서 자유로워지다</h1>
    <h1> 인지교정프로그램 일정</h1>
     <li> SESSION 1 - 인지교정프로그램 목표 설정하기</li>
     <li> SESSION 2 - 감정의 3요소 나눠보기</li>
     <li> SESSION 3 - 자동사고에 대해서 알아보기</li>
     <li> SESSION 4 - 인지오류 알아보기</li>
     <li> SESSION 5 - 자동사고에 대해 반박해보기</li>
     <li> SESSION 6 - 자동사고에 대한 대안적 설명찾기</li>
     <li> SESSION 7 - 자동사고에 대한 결과 평가하기</li>
     <li> SESSION 8 - 변화된 나에 대해 알아보기</li>
     <li> SESSION 9 - 감정 조절 훈련</li>
     <li> SESSION 10 - 재발 방지 훈련 Booster Session</li>

    <h2>인지행동치료는 Writing Therapy라고도 합니다.
        최대한 자세하고 꼼꼼하게 기록하는 습관이
        치료 효과를 상승 시킵니다

        여러분들의 변화를 위해 
        최대한 솔직하고 성실하게 작성해 주세요.
    </h2>

    <li> SESSION 1</li>
        <h1> 생각의 습관에서 자유로워지다</h1>

        <hr>

        <h3> 1.인지행동치료 후에 가장 변화하고 싶은 증상과 그 이유를 적어주세요.</h3> 
            <textarea name="s11" cols="60" rows="20"></textarea> </li>
             <button>제출하기</button>

        <h3> 2.치료에 방해되는 심리적 장애물이 있다면?</h3> 
            <li>①</li>
            <textarea name="s121" cols="30" rows="10"></textarea> </li>
            <button>제출하기</button>
            
            <li>②</li>
            <textarea name="s122" cols="30" rows="10"></textarea> </li>
            <button>제출하기</button>
            
            <li>③</li>
            <textarea name="s123" cols="30" rows="10"></textarea> </li>
            <button>제출하기</button>

        <h3> 3.나의 장점은?</h3> 
            <textarea name="s13" cols="60" rows="20"></textarea> </li>
            <button>제출하기</button>

        <h3> 4.치료를 위한 단계벌 목표 정하기</h3> 
            <h4>1단계</h4>
            <textarea name="s141" cols="30" rows="10"></textarea> 
            <button>제출하기</button>
            
            <h4>2단계</h4>
            <textarea name="s122" cols="30" rows="10"></textarea> </li>
            <button>제출하기</button>
            
            <h4>3단계</h4>
            <textarea name="s123" cols="30" rows="10"></textarea> </li>
            <button>제출하기</button>
    <br>
    
    <hr>

    <br>

    <h1> 인지모델 </h1>
    <h2>의식 ~ 무의식 (이미지 삽입)</h2>

    <li> SESSION 2</li>
        <h1> 생각의 습관에서 자유로워지다</h1>
        <hr>
        <h2>우리 몸에서 교감신경계가 어떻게 작용하는지 알아 봅시다</h2>
            <h3>교감신경계활성화 1,2 그래프 추가</h3>
            <h2>신체적 불안 증상은 <h1>일시적</h1> 이며
                시간 제한적(10분 이내)입니다</h2>

    <br>

    <li> SESSION 2</li>
        <h1> 생각의 습관에서 자유로워지다</h1>
        <hr>
        <h2>상황</h2> <h3>최근에 나타난 가장 힘든 상황을 떠올리며 적어보세요</h3>

            <h4>언제</h4>
            <textarea name="s211" cols="50" rows="10"></textarea> 
            <button>제출하기</button>
            
            <h4>어디서</h4>
            <textarea name="s212" cols="50" rows="10"></textarea> </li>
            <button>제출하기</button>
            
            <h4>무엇을 어떻게</h4>
            <textarea name="s213" cols="50" rows="10"></textarea> </li>
            <button>제출하기</button>

        <h2>감정</h2> <h3>가장 강렬했던 감정을 고르고 점수를 기록해주세요(1~10점)</h3>
            
               <br>

               <h2>분노 ｜ 슬픔 ｜ 우울 ｜ 성취감 ｜ 불안 ｜ 실망 ｜ 기쁨 ｜ 기타</h2>

                <h1>내가 경험하는 감정의 반응</h1>

            <h3>감정의 신체적 반응</h3>
            <textarea name="s231" cols="30" rows="10"></textarea> 
            <button>제출하기</button>
            
            <h3>감정의 행동적 반응</h3>
            <textarea name="s232" cols="30" rows="10"></textarea> </li>
            <button>제출하기</button>
            
            <h3>감정의 인지적 반응</h3>
            <textarea name="s233" cols="30" rows="10"></textarea> </li>
            <button>제출하기</button>    


</ul>
<%-include('footer.ejs')%>
