<%-include('header.ejs')%>

<form action="/ICBTProc" method= "post"></form>


<ul>
    <h3>page01</h3>

    <li> 와이디 퍼포먼스 비대면 워크북</li>

    <h3>page02</h3>

    <h1> 생각의 습관에서 자유로워지다</h1>
    <h1> 인지교정프로그램 일정</h1>
     <li> SESSION 1 - 인지교정프로그램 목표 설정하기</li>
     <li> SESSION 2 - 감정의 3요소 나눠보기</li>
     <li> SESSION 3 - 자동사고에 대해서 알아보기</li>
     <li> SESSION 4 - 인지오류 알아보기</li>
     <li> SESSION 5 - 자동사고에 대해 반박해보기</li>
     <li> SESSION 6 - 자동사고에 대한 대안적 설명찾기</li>
     <li> SESSION 7 - 자동사고에 대한 결과 평가하기</li>
     <li> SESSION 8 - 변화된 나에 대해 알아보기</li>
     <li> SESSION 9 - 감정 조절 훈련</li>
     <li> SESSION 10 - 재발 방지 훈련 Booster Session</li>

    <h3>page03</h3>

    <h2>인지행동치료는 Writing Therapy라고도 합니다.
        최대한 자세하고 꼼꼼하게 기록하는 습관이
        치료 효과를 상승 시킵니다

        여러분들의 변화를 위해 
        최대한 솔직하고 성실하게 작성해 주세요.
    </h2>
    
    <h3>page04</h3>
    
    <li> <h1>SESSION 1</h1></li>

        <h1> 생각의 습관에서 자유로워지다</h1>

        <hr>

        <h3> 1.인지행동치료 후에 가장 변화하고 싶은 증상과 그 이유를 적어주세요.</h3> 
            <textarea name="s11" cols="60" rows="20"></textarea> </li>
             <button>제출하기</button>

        <h3> 2.치료에 방해되는 심리적 장애물이 있다면?</h3> 
            <li>①</li>
            <textarea name="s121" cols="30" rows="10"></textarea> </li>
            <button>제출하기</button>
            
            <li>②</li>
            <textarea name="s122" cols="30" rows="10"></textarea> </li>
            <button>제출하기</button>
            
            <li>③</li>
            <textarea name="s123" cols="30" rows="10"></textarea> </li>
            <button>제출하기</button>

        <h3> 3.나의 장점은?</h3> 
            <textarea name="s13" cols="60" rows="20"></textarea> </li>
            <button>제출하기</button>

        <h3> 4.치료를 위한 단계벌 목표 정하기</h3> 
            <h4>1단계</h4>
            <textarea name="s141" cols="30" rows="10"></textarea> 
            <button>제출하기</button>
            
            <h4>2단계</h4>
            <textarea name="s122" cols="30" rows="10"></textarea> </li>
            <button>제출하기</button>
            
            <h4>3단계</h4>
            <textarea name="s123" cols="30" rows="10"></textarea> </li>
            <button>제출하기</button>
    <br>
    
    <hr>

    <br>

    <h3>page05</h3>

    <h1> 인지모델 </h1>
    <h2>의식 ~ 무의식 (이미지 삽입)</h2>

    <h3>page06</h3>

    <li> <h1>SESSION 2 </h1></li>
    <h1> 생각의 습관에서 자유로워지다</h1>
    <hr>
    <h2>내가 불편해하는 신체증상에 체크 후, 심한 정도를 나타내 봅시다.(10점만점)</h2>

    <h3>page07</h3>

    <li> <h1>SESSION 2 </h1></li>
        <h1> 생각의 습관에서 자유로워지다</h1>
        <hr>
        <h2>우리 몸에서 교감신경계가 어떻게 작용하는지 알아 봅시다</h2>
            <h3>교감신경계활성화 1,2 그래프 추가</h3>
            <h2>신체적 불안 증상은 <h1>일시적</h1> 이며
                시간 제한적(10분 이내)입니다</h2>

    <br>

    <h3>page08</h3>

    <li> <h1> SESSION 2 </h1></li>
        <h1> 생각의 습관에서 자유로워지다</h1>
        <hr>
        <h2>상황</h2> <h3>최근에 나타난 가장 힘든 상황을 떠올리며 적어보세요</h3>

            <h4>언제</h4>
            <textarea name="s211" cols="50" rows="10"></textarea> 
            <button>제출하기</button>
            
            <h4>어디서</h4>
            <textarea name="s212" cols="50" rows="10"></textarea> </li>
            <button>제출하기</button>
            
            <h4>무엇을 어떻게</h4>
            <textarea name="s213" cols="50" rows="10"></textarea> </li>
            <button>제출하기</button>

        <h2>감정</h2> <h3>가장 강렬했던 감정을 고르고 점수를 기록해주세요(1~10점)</h3>
            
            <br>

        <h2>분노 ｜ 슬픔 ｜ 우울 ｜ 성취감 ｜ 불안 ｜ 실망 ｜ 기쁨 ｜ 기타</h2>

            <h1>내가 경험하는 감정의 반응</h1>

            <h3>감정의 신체적 반응</h3>
            <textarea name="s231" cols="30" rows="10"></textarea> 
            <button>제출하기</button>
            
            <h3>감정의 행동적 반응</h3>
            <textarea name="s232" cols="30" rows="10"></textarea> </li>
            <button>제출하기</button>
            
            <h3>감정의 인지적 반응</h3>
            <textarea name="s233" cols="30" rows="10"></textarea> </li>
            <button>제출하기</button>    

<br>

    <h3>page09</h3>

<li> <h1>SESSION 3</h1></li>
        <h1> 생각의 습관에서 자유로워지다</h1>
        <hr>
        <h2>자동사고 기록지</h2>
        <h2>1.상황</h2>

            <h4>언제</h4>
            <textarea name="s311" cols="50" rows="10"></textarea> 
            <button>제출하기</button>
            
            <h4>어디서</h4>
            <textarea name="s312" cols="50" rows="10"></textarea> </li>
            <button>제출하기</button>
            
            <h4>무엇을 어떻게</h4>
            <textarea name="s313" cols="50" rows="10"></textarea> </li>
            <button>제출하기</button>

        <h2>2.감정</h2> <h3>가장 강렬했던 감정을 고르고 점수를 기록해주세요(1~10점)</h3>
            
               <br>

               <h2>분노 ｜ 슬픔 ｜ 우울 ｜ 성취감 ｜ 불안 ｜ 실망 ｜ 기쁨 ｜ 기타</h2>

        <h2>3.어떤 생각이 떠올랐나요? (상황에 대한 생각)</h2>
        <textarea name="s33" cols="80" rows="10"></textarea> </li>
        <button>제출하기</button>

        <h2>4.최악의 경우, 어떤 일이 일어날 것이라는 생각이 들었나요? (생각으로 인한 결과)</h2>
        <textarea name="s34" cols="80" rows="10"></textarea> </li>
        <button>제출하기</button>

        <h2>5.그때 떠오른 이미지는?</h2>
        <textarea name="s35" cols="80" rows="10"></textarea> </li>
        <button>제출하기</button>

        <h2>6.내가 어떤 사람으로 보여질까?</h2>
        <textarea name="s36" cols="80" rows="10"></textarea> </li>
        <button>제출하기</button>
        <hr>   
            <h3>③상황에 대한 생각 + ④생각으로 인한 결과</h3>
            <h2> = </h2>
        
        <h2>7.생각을 믿는 정도       %</h2>

        <h3>page10</h3>

<li> <h1>SESSION 4</h1></li>
    <h1> 생각의 습관에서 자유로워지다</h1>
    <hr>
    <h2>왜곡된 생각, 인지 오류를 알아보자!</h2>

    <h4>(1)흑백논리의 오류</h4>
    <h6>전부 혹은 전문의 사고(All of nothing)라고 흑백논리는 선택지 사이에
        다수의 연속적 개념이 있다고 생각하기보다 흑과 백처럼 '이것' 아니면 '저거',
        <b>두개의 범주</b>로 나누어 상황을 본다.</h6>

    <h4>(2)재앙화</h4>
    <h6>미래에 대한 예쌍을 현실적 고려 없이 파국적이고 부정적으로 생각하는 오류이다.</h6>
    

    <h4>(3)명명하기</h4>
    <h6>라벨링(Labeling)이라고도 하는 명명하기는 자신이나 다른 사람 혹은 어떤 상황에 고정적이며 부정적인 이름을 붙인다.</h6>

    <h4>(4)과대평가/과소평가</h4>
    <h6>어떤 상황이나 자신을 평가할 때 <strong>부정적인 측면</strong>을 강조하고 긍정적인 측면을 최소화 한다.</h6>

    <h4>(5)감정적 추론</h4>
    <h6>근거를 고려하지 않거나 무시하고 자신의 감정의 느낌에 따라 결론을 내린다.</h6>

<br>

    <h3>page11</h3>

<li> <h1>SESSION 4</h1></li>
    생각의 습관에서 자유로워지다
    <hr>
    왜곡된 생각, 인지 오류를 알아보자!

    <h4>(6)정신적 여과</h4>
    <h6>'선택적 추상', '필터링'이라고 하며 전체 상황을 보는 대신에 자신이 집중하는 세세한 것에 지나치게 관심을 가진다.</h6>

    <h4>(7)독심술의 오류</h4>
    <h6>다른 사람들이 생각하는 것을 자신이 알 수 있다고 생각하는 오류이다.</h6>

    <h4>(8)지나친 일반화</h4>
    <h6>우연히 일어난 사건을 일반화시켜 부정적인 결론을 내린다.</h6>

    <h4>(9)자기탓</h4>
    <h6>다른 사람의 부정적인 행동의 이유에 대해 타당한 근거를 고려하지 않고 자신 때문에 타인이 부정적인 행동을 하는 것이라 믿는다.</h6>

    <h4>(10)당위진술</h4>
    <h6>행동에 대한 확실하고 고정된 사고를 가지고 있으며, 충족되지 못할 때 얼마나 나쁜지 과대평가한다.</h6>

    <h4>(11)터널시야</h4>
    <h6>어떤 상황의 부정적인 측면만을 본다.</h6>

    <h3>page12</h3>
    
    <li> <h1>SESSION 4</h1></li>
        <h2> 생각의 습관에서 자유로워지다</h2>
        <hr>
        <h4>QUIZ</h3>
        <h4>다음의 각 상황을 보고 주인공들이 <u>어떤 인지오류</u>를 가지고 있는지 맞춰보세요.</h4>
    
            <h6>사례01
            강호씨는 직장에서 팀장을 맡고 있다
            주변에서 일을 잘하기로 소무난 강호씨지만 뭐든 잘해내는
            이미지와 달리, 프로젝트 하나 시작할 때마다 팀장으로
            '잘해내어야 한다'는 압박감에 시달려 직장 생활 뿐만 아니라 
            일상 생활이 피곤해지곤 한다
    
            1.독심술  
            2.정신적 여과
            3.명명하기
            4.당위진술 </h6>
    
            <h6>사례02
            도현이는 교실에서 평소 친하지 않은 친구들 무리와 
            눈이 마주쳤다. 이윽고 친구들이 서로 이야기 하며 웃음을 
            터뜨리자, 분명 자신을 보고 비웃은 것이라는 생각이 들어
            마음이 불안해 지고 부그러운 기분이 들었다
    
            1.독심술
            2.정신적 여과
            3.명명하기
            4.당위진술 </h6>
    
            <br>

    <h3>page13</h3>

<li> <h1>SESSION 4</h1></li>
    <h2> 생각의 습관에서 자유로워지다</h2>
    <hr>
    <h4>QUIZ</h3>
    <h4>다음의 각 상황을 보고 주인공들이 <u>어떤 인지오류</u>를 가지고 있는지 맞춰보세요.</h4>

        <h6>사례03</h6>
        평소 상위권을 놓치지 않던 유나는 수능을 앞두고 마지막
        모의고사에서 평소 점수보다 두 문제를 더 틀렸다
        예상치 못한 점수에서 당황한 유나는 명문대 진학은 그른 거 
        같다며 재수를 해야 하나 걱정하고 있다

        1.독심술  
        2.정신적 여과
        3.명명하기
        4.당위진술

        <h6>사례04</h6>
        재희는 친구들과 만날 때마다 늘 긴장하느라 마음이 불편하다
        행여 자신이 분위기를 망칠가 걱정하며 자신의 한 마디에
        분위기가 가라 앉기라도 하면'말하지말 걸' 후회하며 말수가 점점 줄어든다

        1.독심술
        2.정신적 여과
        3.명명하기
        4.당위진술

        <br>

    <h3>page14</h3>

<li> <h1>SESSION 4</h1></li>
    <h1> 생각의 습관에서 자유로워지다</h1>
    <hr>
    <h2>자동사고 기록지</h2>
        <h2>1.상황</h2>
            <h4>언제</h4>
                <textarea name="s411" cols="50" rows="10"></textarea> 
                <button>제출하기</button>
                
                <h4>어디서</h4>
                <textarea name="s412" cols="50" rows="10"></textarea> </li>
                <button>제출하기</button>
                
                <h4>무엇을 어떻게</h4>
                <textarea name="s413" cols="50" rows="10"></textarea> </li>
                <button>제출하기</button>
    
        <h2>2.감정</h2> <h3>가장 강렬했던 감정을 고르고 점수를 기록해주세요(1~10점)</h3>
                
        <br>
    
            <h2>분노 ｜ 슬픔 ｜ 우울 ｜ 성취감 ｜ 불안 ｜ 실망 ｜ 기쁨 ｜ 기타</h2>
    
        <h2>3.어떤 생각이 떠올랐나요? (상황에 대한 생각)</h2>
            <textarea name="s43" cols="80" rows="10"></textarea> </li>
            <button>제출하기</button>
    
        <h2>4.최악의 경우, 어떤 일이 일어날 것이라는 생각이 들었나요? (생각으로 인한 결과)</h2>
            <textarea name="s44" cols="80" rows="10"></textarea> </li>
            <button>제출하기</button>
    
        <h2>5.그때 떠오른 이미지는?</h2>
            <textarea name="s45" cols="80" rows="10"></textarea> </li>
            <button>제출하기</button>
    
        <h2>6.내가 어떤 사람으로 보여질까?</h2>
            <textarea name="s46" cols="80" rows="10"></textarea> </li>
            <button>제출하기</button>
            <hr>   
                <h3>③상황에 대한 생각 + ④생각으로 인한 결과</h3>
                <h2> = </h2>
                <textarea name="s461" cols="50" rows="10"></textarea> </li>
                <button>제출하기</button>

        <h2>7.생각을 믿는 정도 ______ %</h2>

        <h2>8.인지오류 <u>___________________</u> </h2>
        
            <span stye="color:red;">TIP:감정, 사고를 찾은 뒤 인지모델을 다시 확인해 보세요</span>

    <div style='page-break-before:always'></div> 


    <h3>page15</h3>

<li> <h1>SESSION 5</h1></li>
    <h1> 생각의 습관에서 자유로워지다</h1>
    <hr>
    <h2>자동사고 기록지</h2>
        <h2>1.상황</h2>
            <h4>언제</h4>
                <textarea name="s511" cols="50" rows="10"></textarea> 
                <button>제출하기</button>
                
                <h4>어디서</h4>
                <textarea name="s512" cols="50" rows="10"></textarea> </li>
                <button>제출하기</button>
                
                <h4>무엇을 어떻게</h4>
                <textarea name="s513" cols="50" rows="10"></textarea> </li>
                <button>제출하기</button>
    
        <h2>2.감정</h2> <h3>가장 강렬했던 감정을 고르고 점수를 기록해주세요(1~10점)</h3>
                
        <br>
    
        <h2>분노 ｜ 슬픔 ｜ 우울 ｜ 성취감 ｜ 불안 ｜ 실망 ｜ 기쁨 ｜ 기타</h2>
    
        <h2>3.어떤 생각이 떠올랐나요? (상황에 대한 생각)</h2>
            <textarea name="s53" cols="80" rows="10"></textarea> </li>
            <button>제출하기</button>
    
        <h2>4.최악의 경우, 어떤 일이 일어날 것이라는 생각이 들었나요? (생각으로 인한 결과)</h2>
            <textarea name="s54" cols="80" rows="10"></textarea> </li>
            <button>제출하기</button>
    
        <h2>5.그때 떠오른 이미지는?</h2>
            <textarea name="s55" cols="80" rows="10"></textarea> </li>
            <button>제출하기</button>
    
        <h2>6.내가 어떤 사람으로 보여질까?</h2>
            <textarea name="s56" cols="80" rows="10"></textarea> </li>
            <button>제출하기</button>
            <hr>   
                <h3>③상황에 대한 생각 + ④생각으로 인한 결과</h3>
                <h2> = </h2>
                <textarea name="s561" cols="50" rows="10"></textarea> </li>
                <button>제출하기</button>

        <h2>7.생각을 믿는 정도 ______ %</h2>

        <h2>8.인지오류 <u>___________________</u> </h2>
    
            <span stye="color:red;">TIP:감정, 사고를 찾은 뒤 인지모델을 다시 확인해 보세요</span>

            
    <div style='page-break-before:always'></div> 

    <h3>page16</h3>

<li> <h1>SESSION 5</h1></li>
    <h1> 생각의 습관에서 자유로워지다</h1>
    <hr>
    <h2>소크라테스 문답법:생각바꾸기</h2>
        <h2>STEP1</h2>
        <h3>자동사고:_________________________</h3>
            <h4>내 생각이 맞다는 증거</h4>
                <textarea name="s521" cols="80" rows="10"></textarea> 
                <button>제출하기</button>
                
            <h4>내 생각이 틀리다는 증거</h4>
                <textarea name="s522" cols="80" rows="10"></textarea> </li>
                <button>제출하기</button>

        <h6>[증거로 활용해 볼만한 것들]
            과거의 경험
            타인의 경험
            인터넷 증거
            직접 확인해 보았는지
            내 생각과 다른 방식
            <h8>(사소한 증거라도 무시하거나 확대/축소하는지 확인해보기)</h8>
        </h6>

    <h3>page17</h3>

<li> <h1>SESSION 6</h1></li>
    <h1> 생각의 습관에서 자유로워지다</h1>
    <hr>
    <h2>자동사고 기록지</h2>
        <h2>1.상황</h2>
            <h4>언제</h4>
                <textarea name="s611" cols="50" rows="10"></textarea> 
                <button>제출하기</button>
                
                <h4>어디서</h4>
                <textarea name="s612" cols="50" rows="10"></textarea> </li>
                <button>제출하기</button>
                
                <h4>무엇을 어떻게</h4>
                <textarea name="s613" cols="50" rows="10"></textarea> </li>
                <button>제출하기</button>
    
        <h2>2.감정</h2> <h3>가장 강렬했던 감정을 고르고 점수를 기록해주세요(1~10점)</h3>
                
        <br>
    
        <h2>분노 ｜ 슬픔 ｜ 우울 ｜ 성취감 ｜ 불안 ｜ 실망 ｜ 기쁨 ｜ 기타</h2>
    
        <h2>3.어떤 생각이 떠올랐나요? (상황에 대한 생각)</h2>
            <textarea name="s63" cols="80" rows="10"></textarea> </li>
            <button>제출하기</button>
    
        <h2>4.최악의 경우, 어떤 일이 일어날 것이라는 생각이 들었나요? (생각으로 인한 결과)</h2>
            <textarea name="s64" cols="80" rows="10"></textarea> </li>
            <button>제출하기</button>
    
        <h2>5.그때 떠오른 이미지는?</h2>
            <textarea name="s65" cols="80" rows="10"></textarea> </li>
            <button>제출하기</button>
    
        <h2>6.내가 어떤 사람으로 보여질까?</h2>
            <textarea name="s66" cols="80" rows="10"></textarea> </li>
            <button>제출하기</button>
            <hr>   
                <h3>③상황에 대한 생각 + ④생각으로 인한 결과</h3>
                <h2> = </h2>
                <textarea name="s661" cols="50" rows="10"></textarea> </li>
                <button>제출하기</button>

        <h2>7.생각을 믿는 정도 ______ %</h2>

        <h2>8.인지오류 <u>___________________</u> </h2>
        
            <span stye="color:red;">TIP:감정, 사고를 찾은 뒤 인지모델을 다시 확인해 보세요</span>

            
    <div style='page-break-before:always'></div>     

    <h3>page18</h3>

<li> <h1>SESSION 6</h1></li>
    <h1> 생각의 습관에서 자유로워지다</h1>
    <hr>
    <h2>소크라테스 문답법:생각바꾸기</h2>
        <h2>STEP1</h2>
        <h3>자동사고:_________________________</h3>
            <h4>내 생각이 맞다는 증거</h4>
                <textarea name="s621" cols="50" rows="10"></textarea> 
                <button>제출하기</button>
                
            <h4>내 생각이 틀리다는 증거</h4>
                <textarea name="s622" cols="50" rows="10"></textarea> </li>
                <button>제출하기</button>

        <h2>STEP02</h2>
        <h3>자동사고:_________________________</h3>
        나의 자동사고에 대한 여러가지 가능성을 생각해 봅시다. 
        <h10>최대한 많이 적을 수록 좋아요</h10>

        (대안적 설명 6가지 이미지)

        <div style='page-break-before:always'></div>   

    <h3>page19</h3>

<li> <h1>SESSION 7</h1></li>
    <h1> 생각의 습관에서 자유로워지다</h1>
    <hr>
    <h2>자동사고 기록지</h2>
        <h2>1.상황</h2>
            <h4>언제</h4>
                <textarea name="s711" cols="50" rows="10"></textarea> 
                <button>제출하기</button>
                
                <h4>어디서</h4>
                <textarea name="s712" cols="50" rows="10"></textarea> </li>
                <button>제출하기</button>
                
                <h4>무엇을 어떻게</h4>
                <textarea name="s713" cols="50" rows="10"></textarea> </li>
                <button>제출하기</button>
        
        <h2>2.감정</h2> <h3>가장 강렬했던 감정을 고르고 점수를 기록해주세요(1~10점)</h3>
        <br>
        
            <h2>분노 ｜ 슬픔 ｜ 우울 ｜ 성취감 ｜ 불안 ｜ 실망 ｜ 기쁨 ｜ 기타</h2>
    
            <h2>3.어떤 생각이 떠올랐나요? (상황에 대한 생각)</h2>
                <textarea name="s73" cols="80" rows="10"></textarea> </li>
                <button>제출하기</button>
    
            <h2>4.최악의 경우, 어떤 일이 일어날 것이라는 생각이 들었나요? (생각으로 인한 결과)</h2>
                <textarea name="s74" cols="80" rows="10"></textarea> </li>
                <button>제출하기</button>
        
            <h2>5.그때 떠오른 이미지는?</h2>
                <textarea name="s75" cols="80" rows="10"></textarea> </li>
                <button>제출하기</button>
        
            <h2>6.내가 어떤 사람으로 보여질까?</h2>
                <textarea name="s76" cols="80" rows="10"></textarea> </li>
                <button>제출하기</button>
            <hr>   
                <h3>③상황에 대한 생각 + ④생각으로 인한 결과</h3>
                <h2> = </h2>
                <textarea name="s761" cols="50" rows="10"></textarea> </li>
                <button>제출하기</button>

            <h2>7.생각을 믿는 정도 ______ %</h2>

            <h2>8.인지오류 <u>___________________</u> </h2>
                
            <span stye="color:red;">TIP:감정, 사고를 찾은 뒤 인지모델을 다시 확인해 보세요</span>

        <div style='page-break-before:always'></div>     
    
    <h3>page20</h3>

<li> <h1>SESSION 7</h1></li>
    <h1> 생각의 습관에서 자유로워지다</h1>
    <hr>
    <h2>소크라테스 문답법:생각바꾸기</h2>
            <h2>STEP1</h2>
            <h3>자동사고:_________________________</h3>
                <h4>내 생각이 맞다는 증거</h4>
                    <textarea name="s721" cols="50" rows="10"></textarea> 
                    <button>제출하기</button>
                    
                <h4>내 생각이 틀리다는 증거</h4>
                    <textarea name="s722" cols="50" rows="10"></textarea> </li>
                    <button>제출하기</button>
    
            <h2>STEP02</h2>
            <h3>자동사고의 대안적 설명</h3>
            <textarea name="s723" cols="80" rows="10"></textarea> </li>
                    <button>제출하기</button>
            
            <h2>STEP03</h2>
        
            (최상의 결과 - 현실적 결과 - 최악의 결과)  이미지 
    
            <div style='page-break-before:always'></div>   

    <h3>page21</h3>

<li> <h1>SESSION 8</h1></li>
    <h1> 생각의 습관에서 자유로워지다</h1>
    <hr>
    <h2>자동사고 기록지</h2>
        <h2>1.상황</h2>
            <h4>언제</h4>
                <textarea name="s8111" cols="50" rows="10"></textarea> 
                <button>제출하기</button>
                        
            <h4>어디서</h4>
                <textarea name="s8112" cols="50" rows="10"></textarea> </li>
                <button>제출하기</button>
                        
            <h4>무엇을 어떻게</h4>
                <textarea name="s8113" cols="50" rows="10"></textarea> </li>
                <button>제출하기</button>
                
        <h2>2.감정</h2> <h3>가장 강렬했던 감정을 고르고 점수를 기록해주세요(1~10점)</h3>
                <br>
                
            <h2>분노 ｜ 슬픔 ｜ 우울 ｜ 성취감 ｜ 불안 ｜ 실망 ｜ 기쁨 ｜ 기타</h2>
            
        <h2>3.어떤 생각이 떠올랐나요? (상황에 대한 생각)</h2>
                <textarea name="s8131" cols="80" rows="10"></textarea> </li>
                <button>제출하기</button>
            
        <h2>4.최악의 경우, 어떤 일이 일어날 것이라는 생각이 들었나요? (생각으로 인한 결과)</h2>
                <textarea name="s8141" cols="80" rows="10"></textarea> </li>
                <button>제출하기</button>
                
        <h2>5.그때 떠오른 이미지는?</h2>
                <textarea name="s8151" cols="80" rows="10"></textarea> </li>
                <button>제출하기</button>
                
        <h2>6.내가 어떤 사람으로 보여질까?</h2>
                <textarea name="s8161" cols="80" rows="10"></textarea> </li>
                <button>제출하기</button>
            <hr>   
            <h3>③상황에 대한 생각 + ④생각으로 인한 결과</h3>
            <h2> = </h2>
                <textarea name="s81661" cols="50" rows="10"></textarea> </li>
                <button>제출하기</button>
        
            <h2>7.생각을 믿는 정도 ______ %</h2>
        
            <h2>8.인지오류 <u>___________________</u> </h2>
            <span stye="color:red;">TIP:감정, 사고를 찾은 뒤 인지모델을 다시 확인해 보세요</span>

    <h3>page22</h3>

<li> <h1>SESSION 8</h1></li>
    <h1> 생각의 습관에서 자유로워지다</h1>
<hr>
    <h2>소크라테스 문답법:생각바꾸기</h2>
        <h2>STEP1</h2>
            <h3>내 생각이 맞다는 증거</h3>
                    <textarea name="s8211" cols="50" rows="10"></textarea> 
                        <button>제출하기</button>

        <h2>STEP2</h2>
            <h3>내 생각이 틀리다는 증거</h3>
                    <textarea name="s8221" cols="50" rows="10"></textarea> 
                        <button>제출하기</button>

        <h2>STEP3</h2>
                
        (최상의 결과 -현실적 결과 - 최악의 결과)
                
                <div style='page-break-before:always'></div>   

    
    <h3>page23</h3>

<li> <h1>SESSION 8</h1></li>
    <h1> 생각의 습관에서 자유로워지다</h1>
        <hr>
    <h2>소크라테스 문답법:생각바꾸기</h2>
            <h2>STEP4</h2>
                <h3>이 자동서고를 믿을 때 얻을 수 있는 장점</h3>
                    <textarea name="s8224" cols="80" rows="10"></textarea> 
                    <button>제출하기</button>
                                
            <h2>STEP5</h2>
                <h3>내 자동사고가 '친구의 고민'이라고 생각하고 조언해 보자.</h3>
                <h3>자동사고:_________________________</h3>
                <h3>To. ____ 에게</h3>
                    <textarea name="s8225" cols="80" rows="20"></textarea> </li>
                    <button>제출하기</button>
                
                <div style='page-break-before:always'></div>   

    <h3>page24</h3>

<li> <h1>SESSION 8</h1></li>
    <h1> 생각의 습관에서 자유로워지다</h1>
    <hr>
    <h2>소크라테스 문답법:생각바꾸기
        
        마지마그로 내 자동사고를 점검해보자</h2>
        
        <h3>자동사고에 대한 합리적 사고</h3>
            <textarea name="s831" cols="80" rows="10"></textarea> 
                <button>제출하기</button>

        <h3>합리적 사고로 변경 후의 감정을 1~10ㅇ로 나타내보세요</h3>
            <br>
                            
            <h2>분노 ｜ 슬픔 ｜ 우울 ｜ 성취감 ｜ 불안 ｜ 실망 ｜ 기쁨 ｜ 기타</h2>
        
        <h3>배운점/느낀점</h3>
            <textarea name="s832" cols="80" rows="10"></textarea> </li>
                            <button>제출하기</button>
        
        <h4>그동안 생각의 악순환을 끊을 수 있는 방법을 함께 익혀보았습니다.
            이제 스스로 연습해 볼 차례입니다.
        </h4>

    <h3>page25</h3>

<li> <h1>SESSION 9</h1></li>
    <h1> 생각의 습관에서 자유로워지다</h1>
    <hr>
    <h2>자동사고 기록지</h2>
        <h2>1.상황</h2>
            <h4>언제</h4>
                <textarea name="s9111" cols="50" rows="10"></textarea> 
                        <button>제출하기</button>
                                
            <h4>어디서</h4>
                <textarea name="s9112" cols="50" rows="10"></textarea> </li>
                        <button>제출하기</button>
                                
            <h4>무엇을 어떻게</h4>
                <textarea name="s9113" cols="50" rows="10"></textarea> </li>
                        <button>제출하기</button>
                        
        <h2>2.감정</h2> <h3>가장 강렬했던 감정을 고르고 점수를 기록해주세요(1~10점)</h3>
    <br>
                        
            <h2>분노 ｜ 슬픔 ｜ 우울 ｜ 성취감 ｜ 불안 ｜ 실망 ｜ 기쁨 ｜ 기타</h2>
                    
        <h2>3.어떤 생각이 떠올랐나요? (상황에 대한 생각)</h2>
                <textarea name="s9131" cols="80" rows="10"></textarea> </li>
                        <button>제출하기</button>
                    
        <h2>4.최악의 경우, 어떤 일이 일어날 것이라는 생각이 들었나요? (생각으로 인한 결과)</h2>
                <textarea name="s9141" cols="80" rows="10"></textarea> </li>
                        <button>제출하기</button>
                        
        <h2>5.그때 떠오른 이미지는?</h2>
                <textarea name="s9151" cols="80" rows="10"></textarea> </li>
                        <button>제출하기</button>
                        
        <h2>6.내가 어떤 사람으로 보여질까?</h2>
                <textarea name="s9161" cols="80" rows="10"></textarea> </li>
                        <button>제출하기</button>
    <hr>   
            <h3>③상황에 대한 생각 + ④생각으로 인한 결과</h3>
                <h2> = </h2>
                <textarea name="s91661" cols="50" rows="10"></textarea> </li>
                        <button>제출하기</button>
                
        <h2>7.생각을 믿는 정도 ______ %</h2>
                
        <h2>8.인지오류 <u>___________________</u> </h2>
        <span stye="color:red;">TIP:감정, 사고를 찾은 뒤 인지모델을 다시 확인해 보세요</span>
        

    <h3>page26</h3>
        
<li> <h1>SESSION 9</h1></li>
    <h1> 생각의 습관에서 자유로워지다</h1>
    <hr>
    <h2>소크라테스 문답법:생각바꾸기</h2>
        <h2>STEP1</h2>
        <h3>내 생각이 맞다는 증거</h3>
                <textarea name="s9211" cols="50" rows="10"></textarea> 
                        <button>제출하기</button>
        
        <h2>STEP2</h2>
        <h3>내 생각이 틀리다는 증거</h3>
                <textarea name="s9221" cols="50" rows="10"></textarea> 
                        <button>제출하기</button>
        
        <h2>STEP3</h2>
                        
                (최상의 결과 -현실적 결과 - 최악의 결과)
                        
                        <div style='page-break-before:always'></div>   
        
            
    <h3>page27</h3>
        
<li> <h1>SESSION 9</h1></li>
    <h1> 생각의 습관에서 자유로워지다</h1>
    <hr>
        <h2>소크라테스 문답법:생각바꾸기</h2>
        <h2>STEP4</h2>
            <h3>이 자동서고를 믿을 때 얻을 수 있는 장점</h3>
                <textarea name="s9224" cols="80" rows="10"></textarea> 
                        <button>제출하기</button>
                                        
        <h2>STEP5</h2>
            <h3>내 자동사고가 '친구의 고민'이라고 생각하고 조언해 보자.</h3>
                <h3>자동사고:_________________________</h3>
            <h3>To. ____ 에게</h3>
                <textarea name="s9225" cols="80" rows="20"></textarea> </li>
                        <button>제출하기</button>
                        
                    <div style='page-break-before:always'></div>   
        
    <h3>page28</h3>
        
<li> <h1>SESSION 9</h1></li>
    <h1> 생각의 습관에서 자유로워지다</h1>
    <hr>
        <h2>소크라테스 문답법:생각바꾸기
            마지마그로 내 자동사고를 점검해보자</h2>
                
            <h3>자동사고에 대한 합리적 사고</h3>
                <textarea name="s931" cols="80" rows="10"></textarea> 
                    <button>제출하기</button>
        
            <h3>합리적 사고로 변경 후의 감정을 1~10ㅇ로 나타내보세요</h3>
    <br>
                                    
                <h2>분노 ｜ 슬픔 ｜ 우울 ｜ 성취감 ｜ 불안 ｜ 실망 ｜ 기쁨 ｜ 기타</h2>
                
            <h3>배운점/느낀점</h3>
                <textarea name="s932" cols="80" rows="10"></textarea> </li>
                    <button>제출하기</button>
                
            <h4>그동안 생각의 악순환을 끊을 수 있는 방법을 함께 익혀보았습니다.
                이제 스스로 연습해 볼 차례입니다.
                </h4>

                <div style='page-break-before:always'></div>

    <h3>page29</h3>

<li> <h1>SESSION 10</h1></li>
    <h1> 생각의 습관에서 자유로워지다</h1>
    <hr>
    <h2>Booster Session
        1.증상이 다시 나타날 수 있음을 인정합시다
        2.회복시 도움이 된 방법은 앞으로도 도움이 됩니다
        3.바뀐 생각의 패턴을 계속 연습해 봅시다

        <h7>8회시 동안 배운 점:부정적 감정이 발생했을 때, 어떤 생각으로 바꾸는 것이 효과적이었나요?</h7>
        
    <h3>재발방지 일기</h3>
        <h4>감정</h4>
                <textarea name="s101" cols="50" rows="10"></textarea> 
                    <button>제출하기</button>

        <h4>부정적인 생각</h4>
                <textarea name="s102" cols="50" rows="10"></textarea> 
                    <button>제출하기</button>

        <h4>합리적인 생각</h4>
                <textarea name="s103" cols="50" rows="10"></textarea> 
                    <button>제출하기</button>
    
    <h3>내가 자주 범하는 인지오류:__________________________</h3>
        <h4>Your Plan</h4>
                <textarea name="s104" cols="80" rows="10"></textarea> 
                    <button>제출하기</button>

        <h4>Reality</h4>
                <textarea name="s105" cols="80" rows="10"></textarea> 
                    <button>제출하기</button>
    

    <div style='page-break-before:always'></div>


</ul>
<%-include('footer.ejs')%>
